{% extends 'newtemplates/base.html' %}
{% load static %}

{% block title %}Shopping cart | Metronic Shop UI{% endblock %}

{% block page_level_plugin_styles %}
<!-- Page level plugin styles START -->
  <link href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
  <link href="{% static 'assets/plugins/rateit/src/rateit.css' %}" rel="stylesheet" type="text/css">
<!-- Page level plugin styles END -->
{% endblock %}

{% block content %}
    {% if user.carts.cart.all %}
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Shopping cart</h1>
        <div class="goods-page">
          <div class="goods-data clearfix">
            <div class="table-wrapper-responsive">
            <table summary="Shopping cart">
              <tr>
                <th class="goods-page-image">Image</th>
                <th class="goods-page-description">Description</th>
                <th class="goods-page-ref-no">Ref No</th>
                <th class="goods-page-quantity">Quantity</th>
                <th class="goods-page-price">Unit price</th>
                <th class="goods-page-total" colspan="2">Total</th>
              </tr>
              {% for book in cart.cart.all %}
              {% for number in cart.books_numbers.all %}
              {% if number.book == book %}
              <tr>
                <td class="goods-page-image">
                  <a href="{{ book.cover.url }}" class="fancybox-button"><img src="{{ book.cover.url }}" alt="{{ book.title }}"></a>
                </td>
                <td class="goods-page-description">
                  <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                  <p><strong>{{ book.author }}</strong></p>
                  <p>Pages: {{ book.pages }}</p>
                </td>
                <td class="goods-page-ref-no">
                  javc2133
                </td>
                <td class="goods-page-quantity">
                      <form action="{% url 'account_user_cart_update' %}" method="post">
                        {% csrf_token %}
                        <div class="product-quantity">
                            <input id="product-quantity" name="quantity" value="{{ number.number }}" readonly class="form-control input-sm">
                        </div>
                          <button class="btn btn-primary" name="number" value="{{ number.id }}" type="submit">update</button>
                      </form>
                </td>
                <td class="goods-page-price">
                  {% if book.off %}
                      <strong><span>$</span>{{ book.off }}</strong>
                      <em>$<span>{{ book.price }}</span></em>
                  {% else %}
                      <strong><span>$</span>{{ book.price }}</strong>
                  {% endif %}
                </td>
                <td class="goods-page-total">
                  <strong><span>$</span>{{ number.calculate_total_price }}</strong>
                </td>
                <td class="del-goods-col">
                  <form method="post" action="{% url 'account_user_cart_update' %}">
                      {% csrf_token %}
                      <button class="del-goods" name="delete" value="{{ number.id }}">&nbsp;</button>
                  </form>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </table>
            </div>

            <div class="shopping-total">
              <ul>
                <li>
                  <em>Sub total</em>
                  <strong class="price"><span>$</span>{{ cart.calculate_total_price }}</strong>
                </li>
                <li>
                  <em>Shipping cost</em>
                  <strong class="price"><span>$</span>3.00</strong>
                </li>
                <li class="shopping-total-price">
                  <em>Total</em>
                  <strong class="price"><span>$</span>{{ cart.calculate_total_price_with_cost }}</strong>
                </li>
              </ul>
            </div>
          </div>
          <a href="{% url 'home' %}" class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></a>
          <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
    {% else %}
      <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Shopping cart</h1>
        <div class="shopping-cart-page">
          <div class="shopping-cart-data clearfix">
            <p>Your shopping cart is empty!</p>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    {% endif %}
{% endblock %}

{% block down_suggestions_title %}Most Popular Books{% endblock %}

{% block page_level_javascripts %}
<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{% static 'assets/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->
    <script src="{% static 'assets/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->
    <script src="{% static 'assets/plugins/zoom/jquery.zoom.min.js' %}" type="text/javascript"></script><!-- product zoom -->
    <script src="{% static 'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}" type="text/javascript"></script><!-- Quantity -->
    <script src="{% static 'assets/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/rateit/src/jquery.rateit.js' %}" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js' %}" type="text/javascript"></script><!-- for slider-range -->

    <script src="{% static 'assets/corporate/scripts/layout.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
            Layout.initSliderRange();
        });
    </script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}