{% extends 'newtemplates/base.html' %}
{% load static %}

{% block title %}{{ book.title }} | Metronic Shop UI{% endblock %}

{% block page_level_plugin_styles %}
<!-- Page level plugin styles START -->
  <link href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
  <link href="{% static 'assets/plugins/rateit/src/rateit.css' %}" rel="stylesheet" type="text/css">
<!-- Page level plugin styles END -->
{% endblock %}

{% block content %}
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        {% include 'newtemplates/snippets/sidebar_category.html' %}
        <div class="sidebar-products clearfix">
            <h2>Bestsellers</h2>
            {% include 'newtemplates/snippets/sidebar_suggestions.html' %}
        </div>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        <div class="product-page">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="product-main-image">
                <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-responsive" data-BigImgsrc="{{ book.cover.url }}">
              </div>
              <div class="product-other-images">
                {% for image in book.images.all %}
                    <a href="{{ image.image.url }}" class="fancybox-button" rel="photos-lib"><img alt="{{ book.title }}" src="{{ image.image.url }}"></a>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <h1>{{ book.title }}</h1>
              <div class="price-availability-block clearfix">
                <div class="price">
                  {% if book.off %}
                      <strong><span>$</span>{{ book.off }}</strong>
                      <em>$<span>{{ book.price }}</span></em>
                  {% else %}
                    <strong><span>$</span>{{ book.price }}</strong>
                  {% endif %}
                </div>
                <div class="availability">
                  Availability:
                  {% if book.is_available %}
                    <strong>In Stock</strong>
                  {% else %}
                    <strong>Not in Stock</strong>
                  {% endif %}
                </div>
              </div>
              <div class="description">
                <p>{{ book.summary }}</p>
              </div>
                <div class="product-page-cart">
                {% if book.is_available %}
                  <form action="{% url 'account_user_cart_update' %}" method="post">
                      {% csrf_token %}
                      {% if book.is_in_cart %}
                          {% for number in user.cart.books_numbers.all %}
                          {% if number.book == book %}
                          <div class="product-quantity">
                              <input id="product-quantity" name="quantity" type="text" value="{{ number.number }}" readonly class="form-control input-sm">
                          </div>
                              <button class="btn btn-primary" name="number" value="{{ number.id }}" type="submit">Edit cart</button>
                              | <button class="btn btn-danger" name="delete" value="{{ number.id }}" type="submit">Delete from cart</button>
                          {% endif %}
                          {% endfor %}
                      {% else %}
                          <div class="product-quantity">
                              <input id="product-quantity" name="quantity" type="text" value="1" readonly class="form-control input-sm">
                          </div>
                          <button class="btn btn-primary" name="book" value="{{ book.id }}" type="submit">Add to cart</button>
                      {% endif %}
                  </form>
                {% else %}
                    <button class="btn btn-primary" type="button">Unavailable</button>
                {% endif %}
                </div>
              <div class="review">
                <input type="range" value="{{ book.rating }}" step="0.25" id="backing4">
                <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                </div>
                <a href="#myTab">{{ book.reviews.count }} reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#review_form">Write a review</a>
              </div>
              <ul class="social-icons">
                <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
              </ul>
            </div>

            <div class="product-page-content">
              <ul id="myTab" class="nav nav-tabs">
                <li><a href="#Description" data-toggle="tab">Description</a></li>
                <li><a href="#Information" data-toggle="tab">Information</a></li>
                <li class="active"><a href="#Reviews" data-toggle="tab">Reviews ({{ book.reviews.count }})</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="Description">
                  <p>{{ book.summary }}</p>
                </div>
                <div class="tab-pane fade" id="Information">
                  <table class="datasheet">
                    <tr>
                      <th colspan="2">More Information</th>
                    </tr>
                    {% for field, value in book_fields.items %}
                    <tr>
                      <td class="datasheet-features-type">{{ field }}</td>
                      {% if value %}
                        {% if field == 'category' %}
                            <td>
                            {% for category in value %}
                                <a href="{{ category.get_absolute_url }}">#{{ category }}</a>
                            {% endfor %}
                            </td>
                        {% else %}
                                <td>{{ value }}</td>
                        {% endif %}
                      {% else %}
                        <td>-</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="tab-pane fade in active" id="Reviews">
                  {% if not book.reviews.all %}
                    <p>There are no reviews for this book.</p>
                  {% else %}
                      {% for review in book.reviews.all %}
                      <div class="review-item clearfix">
                        <div class="review-item-submitted">
                          {% if review.author %}
                            <strong>{{ review.author }}</strong>
                          {% elif review.name %}
                            <strong>{{ review.name }}</strong>
                          {% elif review.email %}
                            <strong>{{ review.email }}</strong>
                          {% else %}
                            <strong>Unknown</strong>
                          {% endif %}
                          <em>{{ review.submitted }}</em>
                          <div class="rateit" data-rateit-value="{{ review.rating }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="review-item-content">
                            <p>{{ review.review }}</p>
                        </div>
                      </div>
                      {% endfor %}
                  {% endif %}
                  <!-- BEGIN FORM-->
                  <form id="review_form" action="{% url 'review_create' %}" method="post" class="reviews-form" role="form">
                    {% csrf_token %}
                    <h2>Write a review</h2>
                    <input type="hidden" name="book" value="{{ book.id }}">
                    {% if user.is_authenticated %}
                        <div class="form-group">
                          <label for="review">Review <span class="require">*</span></label>
                          <textarea class="form-control" rows="8" id="review" name="review"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="email">Rating</label>
                          <input type="range" value="4" step="0.25" id="backing5" name="rating">
                          <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group">
                      <label for="name">Name <span class="require">*</span></label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                      <label for="review">Review <span class="require">*</span></label>
                      <textarea class="form-control" rows="8" id="review" name="review"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="email">Rating</label>
                      <input type="range" value="4" step="0.25" id="backing5" name="rating">
                      <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                      </div>
                    </div>
                    {% endif %}
                    <div class="padding-top-20">
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </form>
                  <!-- END FORM-->
                </div>
              </div>
            </div>
            <div class="sticker sticker-sale"></div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
{% endblock %}

{% block down_suggestions_title %}Similar Books{% endblock %}

{% block page_level_javascripts %}
<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{% static 'assets/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->
    <script src="{% static 'assets/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->
    <script src="{% static 'assets/plugins/zoom/jquery.zoom.min.js' %}" type="text/javascript"></script><!-- product zoom -->
    <script src="{% static 'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}" type="text/javascript"></script><!-- Quantity -->    <script src="{% static 'assets/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/rateit/src/jquery.rateit.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/corporate/scripts/layout.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
        });
    </script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}