{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block account_status %}
    <li><a href="{% url 'account_login' %}">Log In</a></li>
    <li class="active">Authentication Error</li>
{% endblock %}

{% block account_content %}
    <h1>{% trans "Social Network Login Failure" %}</h1>
    <p style="font-size: 16px">{% trans "An error occurred while attempting to login via your social network account." %}</p>
{% endblock %}