{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Log In Social Account' %}{% endblock %}

{% block account_status %}
    <li><a href="{% url 'account_login' %}">Log In</a></li>
    <li><a href="{% url 'socialaccount_connections' %}">Via Social Account</a></li>
    <li class="active">{{ provider.name }}</li>
{% endblock %}

{% block account_content %}
    {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
    {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
    {% endif %}
    <div class="content-form-page">
        {% if process == "connect" %}
           <p style="font-size: 19px">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
        {% else %}
            <p style="font-size: 19px">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary" type="submit">{% trans 'Continue' %}</button>
              </div>
            </div>
        </form>
    </div>
{% endblock %}