{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Login Cancelled" %}{% endblock %}

{% block account_status %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
    <li class="active">Cancelled</li>
{% endblock %}

{% block account_content %}
    <h1>{% trans "Login Cancelled" %}</h1>
    {% url 'account_login' as login_url %}
    <p style="font-size: 16">{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
{% endblock %}
