{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block account_status %}
    <li><a href="{% url 'account_email' %}">Email</a></li>
    <li class="active">Confirm</li>
{% endblock %}

{% block account_content %}
    <h1>{% trans "Confirm E-mail Address" %}</h1>
    {% if confirmation %}
      <div class="content-form-page">
        {% user_display confirmation.email_address.user as user_display %}
        <p style="font-size: 16px">{% blocktrans with confirmation.email_address.email as email %}Please confirm that
            <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-success" type="submit">{% trans 'Confirm' %}</button>
              </div>
            </div>
        </form>
      </div>
    {% else %}
        {% url 'account_email' as email_url %}
        <p style="font-size: 16px">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
            <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}