{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block title %}Log In{% endblock %}

{% block account_status %}<li class="active">Log In</li>{% endblock %}

{% block account_content %}
    <h1>Log In</h1>
    <div class="content-form-page">
        <form method="post">
            {% csrf_token %}
            <div class="form-groudp">
                {{ form | crispy }}
            </div>
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary" type="submit">{% trans 'Log In' %}</button>
              </div>
            </div>
        </form>
        <p style="padding-top: 15px">
          <a href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
            <br>
          <a href="{% url 'account_signup' %}">{% trans 'Do not have an account? Sign up.' %}</a>
        </p>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <a class="btn btn-default" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
                  <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                  {% trans 'Log In via Google' %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}