{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Log Out' %}{% endblock %}

{% block account_status %}<li class="active">Log Out</li>{% endblock %}

{% block account_content %}
    <h1>LogOut</h1>
    <div class="content-form-page">
        <h3 style="font-size: 19px">{% trans 'Are you sure you want to log out!?' %}</h3>
        {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary" type="submit">{% trans 'LogOut' %}</button>
              </div>
            </div>
        </form>
    </div>
{% endblock %}