{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block account_status %}<li class="active">Password Reset</li>{% endblock %}

{% block account_content %}
    <h1>{% trans "Password Reset" %}</h1>
    <div class="content-form-page">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p style="font-size: 16px;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {#<input type="submit" value="{% trans 'Reset My Password' %}" />#}
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
              </div>
            </div>
        </form>
        <hr>
        <p style="font-size: 15px">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}