{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block account_status %}<li class="active">Set Password</li>{% endblock %}

{% block account_content %}
    <h1>{% trans "Set Password" %}</h1>
    <div class="content-form-page">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary" type="submit" name="action">{% trans 'Set Password' %}</button>
              </div>
            </div>
        </form>
    </div>
{% endblock %}