{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block account_status %}<li class="active">Reset Password Done</li>{% endblock %}
<h
{% block account_content %}
    <h1>{% trans "Reset Password" %}</h1>
    <div class="content-form-page">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p style="font-size: 16px">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.
            Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}