{% extends "newtemplates/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block page_level_plugin_styles %}
<!-- Page level plugin styles START -->
  <link href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css">
<!-- Page level plugin styles END -->
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="">Account</a></li>
        <li class="active">Reset Password From Key</li>
    </ul>
    <div class="row margin-bottom-40">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            <div class="content-form-page">
                <form method="POST" action="{{ action_url }}" class="form-horizontal form-without-legend">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-success" type="submit" name="action" value="{% trans 'change password' %}"/>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block page_level_javascripts %}
<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{% static 'assets/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->
    <script src="{% static 'assets/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->
    <script src="{% static 'assets/plugins/zoom/jquery.zoom.min.js' %}" type="text/javascript"></script><!-- product zoom -->
    <script src="{% static 'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}" type="text/javascript"></script><!-- Quantity -->
    <script src="{% static 'assets/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/corporate/scripts/layout.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
        });
    </script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}