{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block title %}Sign Up{% endblock %}

{% block account_status %}<li class="active">Sign Up</li>{% endblock %}

{% block account_content %}
    <h1>Sign Up</h1>
    <div class="content-form-page">
        <form method="post" class="form-horizontal form-without-legend">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary" type="submit">{% trans 'Sign Up' %}</button>
              </div>
            </div>
        </form>
        <p style="padding-top: 15px">
          <a href="{% url 'account_login' %}">{% trans 'Already have an account? Login.' %}</a>
        </p>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <a class="btn btn-default" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
                  <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                  {% trans 'Sign Up via Google' %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}