{% extends '_base.html' %}


{% block title %}User Cart{% endblock %}

{% block content %}
    <h1>Shopping Cart</h1>
    <hr>
    {% for book in cart.cart.all %}
        <p>
            <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
            {% for number in cart.books_numbers.all %}
                    {% if number.book == book %}
                        <p>
                            <form method="post" action="{% url 'account_usercart_edit' %}">
                                {% csrf_token %}
                                <h3>
                                    {% if book.stock > 0 %}
                                        <button name="add" class="btn btn-success" value="{{ number.id }}" type="submit">Add</button>
                                    {% else %}
                                        <button type="button" class="btn btn-dark">Add</button>
                                    {% endif %}
                                    |   number:{{ number.number }}   |
                                    <button name="reduce" class="btn btn-danger" value="{{ number.id }}" type="submit">Reduce</button>
                                    | <button name="delete" class="btn btn-danger" value="{{ number.id }}" type="submit">Delete</button>
                                </h3>
                            </form>
                        </p>
                    {% endif %}
            {% endfor %}
        </p>
        <hr>
    {% endfor %}
    <h2>Total Price:{{ total_price }}</h2>
{% endblock %}