{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Address{% endblock %}

{% block account_status %}
    <li><a href="{% url 'account_user_address_list' %}">Address Book</a></li>
    <li class="active">Delete Address</li>
{% endblock %}

{% block account_content %}
    <h1>Delete Address</h1>
    <div class="content-form-page">
        <h2>Are you sure you want to delete the address?!</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
{% endblock %}