{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Profile{% endblock %}

{% block account_status %}
    <li><a href="{{ user.get_absolute_url }}">Profile</a></li>
    <li class="active">Update</li>
{% endblock%}

{% block account_content %}
    <h1>Update Profile</h1>
    <div class="content-page">
        {% if user.image %}
        <p>
            <img style="vertical-align: middle;width: 175px;height: 200px;" src="{{ user.image.url }}">
        </p>
        {% endif %}
        <p style="font-size: 20px">{{ user.username }}</p>
        <p style="font-size: 16px">{{ user.email }}</p>
    </div>
    <div class="content-form-page">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="row">
              <div class="col-lg-8">
                <button class="btn btn-primary">Update</button>
              </div>
            </div>
        </form>
    </div>
{% endblock %}