{% extends 'account/base.html' %}
{% load static %}

{% block title %}My Profile | Metronic Shop UI{% endblock %}

{% block account_status %}<li class="active">Profile</li>{% endblock %}

{% block account_content %}
    <h1>My Profile</h1>
    <div class="content-page">
      {% if profile.image %}
        <img style="vertical-align: middle;width: 175px;height: 200px;" src="{{ profile.image.url }}">
      {% else %}
        <img style="vertical-align: middle;width: 175px;height: 200px;" src="{% static 'images/anonymous-user.jpg' %}">
      {% endif %}
      {% for field, value in profile_fields.items %}
        <h3>{{ field }}: {{ value }}</h3>
      {% endfor %}
      <hr>
        <div class="row">
          <div class="col-lg-8">
            <a class="btn btn-default" href="{% url 'account_user_update' %}">Update</a>
          </div>
        </div>
    </div>
{% endblock %}
