{% load static %}
<div class="sidebar-products clearfix">
  <h2>Bestsellers</h2>
  {% for book in bestsellers %}
    <div class="item">
        <a href="{{ book.cover.url }}" class="fancybox-button"><img src="{{ book.cover.url }}" alt="{{ book.title }}" 
                                                                    style="height: 65px; width: 65px"></a>
        <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
        {% if book.off %}
            <div class="price">${{ book.off }}</div>
        {% else %}
            <div class="price">${{ book.price }}</div>
        {% endif %}
    </div>
  {% endfor %}
  <div class="item">
    <a href="shop-item.html"><img src="{% static 'assets/pages/img/products/k1.jpg' %}" alt="Some Shoes in Animal with Cut Out"></a>
    <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
    <div class="price">$31.00</div>
  </div>
  <div class="item">
    <a href="shop-item.html"><img src="{% static 'assets/pages/img/products/k4.jpg' %}" alt="Some Shoes in Animal with Cut Out"></a>
    <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
    <div class="price">$23.00</div>
  </div>
  <div class="item">
    <a href="shop-item.html"><img src="{% static 'assets/pages/img/products/k3.jpg' %}" alt="Some Shoes in Animal with Cut Out"></a>
    <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
    <div class="price">$86.00</div>
  </div>
</div>