{% load static %}

<div class="header-navigation">
  <ul>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Woman

      </a>

      <!-- BEGIN DROPDOWN MENU -->
      <ul class="dropdown-menu">
        <li class="dropdown-submenu">
          <a href="../shop-product-list.html">Hi Tops <i class="fa fa-angle-right"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="../shop-product-list.html">Second Level Link</a></li>
            <li><a href="../shop-product-list.html">Second Level Link</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Second Level Link
                <i class="fa fa-angle-right"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="../shop-product-list.html">Third Level Link</a></li>
                <li><a href="../shop-product-list.html">Third Level Link</a></li>
                <li><a href="../shop-product-list.html">Third Level Link</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="../shop-product-list.html">Running Shoes</a></li>
        <li><a href="../shop-product-list.html">Jackets and Coats</a></li>
      </ul>
      <!-- END DROPDOWN MENU -->
    </li>
    <li class="dropdown dropdown-megamenu">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Man

      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="header-navigation-content">
            <div class="row">
              <div class="col-md-4 header-navigation-col">
                <h4>Footwear</h4>
                <ul>
                  <li><a href="../shop-product-list.html">Astro Trainers</a></li>
                  <li><a href="../shop-product-list.html">Basketball Shoes</a></li>
                  <li><a href="../shop-product-list.html">Boots</a></li>
                  <li><a href="../shop-product-list.html">Canvas Shoes</a></li>
                  <li><a href="../shop-product-list.html">Football Boots</a></li>
                  <li><a href="../shop-product-list.html">Golf Shoes</a></li>
                  <li><a href="../shop-product-list.html">Hi Tops</a></li>
                  <li><a href="../shop-product-list.html">Indoor and Court Trainers</a></li>
                </ul>
              </div>
              <div class="col-md-4 header-navigation-col">
                <h4>Clothing</h4>
                <ul>
                  <li><a href="../shop-product-list.html">Base Layer</a></li>
                  <li><a href="../shop-product-list.html">Character</a></li>
                  <li><a href="../shop-product-list.html">Chinos</a></li>
                  <li><a href="../shop-product-list.html">Combats</a></li>
                  <li><a href="../shop-product-list.html">Cricket Clothing</a></li>
                  <li><a href="../shop-product-list.html">Fleeces</a></li>
                  <li><a href="../shop-product-list.html">Gilets</a></li>
                  <li><a href="../shop-product-list.html">Golf Tops</a></li>
                </ul>
              </div>
              <div class="col-md-4 header-navigation-col">
                <h4>Accessories</h4>
                <ul>
                  <li><a href="../shop-product-list.html">Belts</a></li>
                  <li><a href="../shop-product-list.html">Caps</a></li>
                  <li><a href="../shop-product-list.html">Gloves, Hats and Scarves</a></li>
                </ul>

                <h4>Clearance</h4>
                <ul>
                  <li><a href="../shop-product-list.html">Jackets</a></li>
                  <li><a href="../shop-product-list.html">Bottoms</a></li>
                </ul>
              </div>
              <div class="col-md-12 nav-brands">
                <ul>
                  <li><a href="../shop-product-list.html"><img title="esprit" alt="esprit" src="{% static 'assets/pages/img/brands/esprit.jpg' %}"></a></li>
                  <li><a href="../shop-product-list.html"><img title="gap" alt="gap" src="{% static 'assets/pages/img/brands/gap.jpg' %}"></a></li>
                  <li><a href="../shop-product-list.html"><img title="next" alt="next" src="{% static 'assets/pages/img/brands/next.jpg' %}"></a></li>
                  <li><a href="../shop-product-list.html"><img title="puma" alt="puma" src="{% static 'assets/pages/img/brands/puma.jpg' %}"></a></li>
                  <li><a href="../shop-product-list.html"><img title="zara" alt="zara" src="{% static 'assets/pages/img/brands/zara.jpg' %}"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li><a href="../shop-item.html">Kids</a></li>
    <li class="dropdown dropdown100 nav-catalogue">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        New

      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="header-navigation-content">
            <div class="row">
              {% for book in new_books %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <a href="{{ book.get_absolute_url }}"><img src="{{ book.cover.url }}" style="width: 300px; height: 300px" class="img-responsive" alt="{{ book.title }}"></a>
                    </div>
                    <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                    {% if book.off %}
                      <div class="pi-price">${{ book.off }}</div>
                    {% else %}
                      <div class="pi-price">${{ book.price }}</div>
                    {% endif %}
                    {% if book in user.cart.books.all %}
                      <a href="{% url 'account_user_cart_detail' %}" class="btn btn-default add2cart">Is in cart</a>
                    {% else %}
                        {% if book.is_available %}
                            <form action="{% url 'account_user_cart_update' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="book_add" value="{{ book.id }}" class="btn btn-default add2cart">Add to cart</button>
                            </form>
                        {% else %}
                            <button class="btn btn-default add2cart">Unavailable</button>
                        {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Pages

      </a>

      <ul class="dropdown-menu">
        <li class="active"><a href="{% url 'index' %}">Home Default</a></li>
        <li><a href="../shop-index-header-fix.html">Home Header Fixed</a></li>
        <li><a href="../shop-index-light-footer.html">Home Light Footer</a></li>
        <li><a href="{% url 'product_list' %}">Product List</a></li>
        <li><a href="{% url 'search_results' %}">Search Result</a></li>
        <li><a href="{% url 'item' %}">Product Page</a></li>
        <li><a href="{% url 'shopping_cart_null' %}">Shopping Cart (Null Cart)</a></li>
        <li><a href="{% url 'shopping_cart' %}">Shopping Cart</a></li>
        <li><a href="{% url 'checkout' %}">Checkout</a></li>
        <li><a href="{% url 'new-about' %}">About</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>
        <li><a href="{% url 'account' %}">My account</a></li>
        <li><a href="{% url 'wishlist' %}">My Wish List</a></li>
        <li><a href="{% url 'goods' %}">Product Comparison</a></li>
        <li><a href="{% url 'standard_forms' %}">Standart Forms</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'terms' %}">Terms &amp; Conditions</a></li>
      </ul>
    </li>


    <li><a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes&amp;utm_source=download&amp;utm_medium=banner&amp;utm_campaign=metronic_frontend_freebie" target="_blank">Admin theme</a></li>

    <!-- BEGIN TOP SEARCH -->
    <li class="menu-search">
      <span class="sep"></span>
      <i class="fa fa-search search-btn"></i>
      <div class="search-box">
        <form method="get" action="{% url 'search_results' %}">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control" name="search">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
    </li>
    <!-- END TOP SEARCH -->
  </ul>
</div>