{% load static %}

<div class="top-cart-block">
  {% if user.is_authenticated %}
  <div class="top-cart-info">
    <a href="{{ user.cart.get_absolute_url }}" class="top-cart-info-count">{{ user.cart.cart.count }} items</a>
    <a href="{{ user.cart.get_absolute_url }}" class="top-cart-info-value">${{ user.cart.calculate_total_price }}</a>
  </div>
  <i class="fa fa-shopping-cart"></i>

  <div class="top-cart-content-wrapper">
    <div class="top-cart-content">
      <ul class="scroller" style="height: 250px;">
      {% for book in user.cart.cart.all %}
          {% for number in user.cart.books_numbers.all %}
            {% if number.book == book %}
             <li>
              <a href="{{ book.get_absolute_url }}"><img src="{{ book.cover.url }}" alt="{{ book.title }}" width="37" height="34"></a>
              <span class="cart-content-count">x {{ number.number }}</span>
              <strong><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></strong>
              {% if book.off %}
                <em>${{ book.off }}</em>
              {% else %}
                 <em>${{ book.price }}</em>
              {% endif %}
              <form method="post" action="{% url 'account_user_cart_update' %}">
                  {% csrf_token %}
                  <button type="submit" class="del-goods" name="delete" value="{{ number.id }}">&nbsp;</button>
              </form>
            </li>
            {% endif %}
          {% endfor %}
      {% endfor %}
      </ul>
      <div class="text-right">
        <a href="{{ user.cart.get_absolute_url }}" class="btn btn-default">View Cart</a>
        <a href="../shop-checkout.html" class="btn btn-primary">Checkout</a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="top-cart-info">
    <a href="{% url 'account_login' %}" class="top-cart-info-count">please login</a>
  </div>
   <i class="fa fa-shopping-cart"></i>
  {% endif %}
</div>