[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
django-allauth = "*"
pillow = "*"
environs = {extras = ["django"], version = "*"}
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
