{% extends '_base.html' %}
{% load static %}

{% block title %}My Account {% endblock %}

{% block page_level_plugin_styles %}
<!-- Page level plugin styles START -->
  <link href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
<!-- Page level plugin styles END -->
{% endblock %}

{% block content %}
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      {% include 'snippets/account_sidebar.html' %}
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        <h1>My Account</h1>
        <div class="content-page">
          <ul>
            <li><a href="{% url 'account_user_detail' %}">Check your account information</a></li>
            <li><a href="{% url 'account_user_update' %}">Edit your account information</a></li>
            <li><a href="{% url 'account_email' %}">Manage your Email</a></li>
            <li><a href="{% url 'account_user_wishlist_detail' %}">Manage your Wishlist</a></li>
            <li><a href="{% url 'account_user_address_list' %}">Manage your addresses</a></li>
            <li><a href="{% url 'account_change_password' %}">Change your password</a></li>
            <li><a href="{% url 'account_reset_password' %}">Reset your password</a></li>
          </ul>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
{% endblock %}

{% block page_level_javascripts %}
<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{% static 'assets/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->
    <script src="{% static 'assets/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->

    <script src="{% static 'assets/corporate/scripts/layout.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();

        });
    </script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}