{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
            <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% endif %}
        <h2><a href="">{{ book.title }}</a></h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        {% if book in user.carts.cart.all %}
            {% for number in user.carts.books_numbers.all %}
                    {% if number.book == book %}
                        <p>
                            <form method="post" action="{% url 'account_usercart_edit' %}">
                                {% csrf_token %}
                                <h3>
                                    {% if book.stock > 0 %}
                                        <button name="add" class="btn btn-success" value="{{ number.id }}"
                                                type="submit">Add</button>
                                    {% else %}
                                        <button type="button" class="btn btn-dark">Add</button>
                                    {% endif %}
                                    | number:{{ number.number }} |
                                    {% if number.number > 1 %}
                                        <button name="reduce" class="btn btn-danger" value="{{ number.id }}"
                                                type="submit">Reduce</button>
                                    {% else %}
                                        <button class="btn btn-dark" type="button">Reduce</button>
                                    {% endif %}
                                    | <button name="delete" class="btn btn-danger" value="{{ number.id }}"
                                              type="submit">Delete</button>
                                </h3>
                            </form>
                        </p>
                    {% endif %}
            {% endfor %}
        {% else %}
            {% if book.stock > 0 %}
                <p>
                    <form method="post" action="{% url 'account_usercart_edit' %}">
                        {% csrf_token %}
                        <button name="book_add" type="submit" value="{{ book.id }}" class="btn btn-success">Add to Cart</button>
                    </form>
                </p>
            {% else %}
                <p>
                    <button type="button" class="btn btn-danger">Unavailable</button>
                </p>
            {% endif %}
        {% endif %}
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in book.reviews.all %}
                    <li>{{ review.review }} ({{ review.author }})
                        {% if review.author == user %}
                            <a href="{% url 'review_update' review.pk %}">Update</a>
                        {% endif %}
                        {% if 'books.delete_review' in user.get_all_permissions or review.author == user %}
                            <a href="{% url 'review_delete' review.pk %}" style="color: red">Delete</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <form action="{% url 'review_save' %}" method="post">
                {% csrf_token %}
                {{ review_form | crispy}}
                <button name="book" value="{{ book.id }}" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    {% if 'books.change_book' in user.get_all_permissions %}
        <hr>
        <h4><a href="{% url 'book_update' book.pk %}">Update</a></h4>
    {% endif %}
{% endblock %}