{% extends 'books/admin_base.html' %}

{% block title %}Categories{% endblock %}

{% block admin_content %}
    <h1>Categories List</h1>
    <ul>
    {% for category in category_list %}
        {% if not category.parent %}
            <li>
            <h2><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></h2>
            <p>
                <a href="{% url 'category_update' category.pk %}">Update</a>
                <a style="color: red" href="{% url 'category_delete' category.pk %}">Delete</a>
            </p>
            {% if category.children.all %}
                {% include 'categories/category_loop.html' %}
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}