{% load static %}

<div class="brands">
  <div class="container">
        <div class="owl-carousel owl-carousel6-brands">
          <a href=""><img src="{% static 'assets/pages/img/brands/particularlogo.png' %}" alt="particular" title="particualr"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/blackjacetlogo.png' %}" alt="blackjacet" title="blackjacet"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/mountaintoplogo.png' %}" alt="mountaintop" title="mountaintop"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/rocketlogo.png' %}" alt="rocket" title="rocket"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/vectorylogo.png' %}" alt="vectory" title="vectory"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/walkerlogo.jpeg' %}" alt="walker" title="walker"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/canon.jpg' %}" alt="canon" title="canon"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/esprit.jpg' %}" alt="esprit" title="esprit"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/gap.jpg' %}" alt="gap" title="gap"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/next.jpg' %}" alt="next" title="next"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/puma.jpg' %}" alt="puma" title="puma"></a>
          <a href=""><img src="{% static 'assets/pages/img/brands/zara.jpg' %}" alt="zara" title="zara"></a>
        </div>
  </div>
</div>