{% if category and active_category_set %}
    {% if category in active_category_set %}
        {% for category in category.children.active %}
            {% if category in active_category_set %}
                <ul class="dropdown-menu" style="display: block;">
                    <li class="list-group-item dropdown clearfix active">
                        <a href="{{ category.get_absolute_url }}" class="collapsed">
                            <i class="fa fa-angle-right"></i>
                            {{ category.title }}
                        </a>
                        {% if category.children.active %}
                            {% include 'snippets/category_loop.html' %}
                        {% endif %}
                    </li>
                </ul>
            {% else %}
                <ul class="dropdown-menu" style="display: block;">
                    <li class="list-group-item dropdown clearfix">
                        <a href="{{ category.get_absolute_url }}">
                            <i class="fa fa-angle-right"></i>
                            {{ category.title }}
                        </a>
                        {% if category.children.active %}
                            {% include 'snippets/category_loop.html' %}
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for category in category.children.active %}
            <ul class="dropdown-menu">
                <li class="list-group-item dropdown clearfix">
                    <a href="{{ category.get_absolute_url }}">
                        <i class="fa fa-angle-right"></i>
                        {{ category.title }}
                    </a>
                    {% if category.children.active %}
                        {% include 'snippets/category_loop.html' %}
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    {% endif %}
{% elif category %}
  {% if category in display_categories %}
      <ul class="dropdown-menu" style="display: block;">
        {% for category in category.children.active %}
            <li class="list-group-item dropdown clearfix">
                <a href="{{ category.get_absolute_url }}">
                    <i class="fa fa-angle-right"></i>
                    {{ category.title }}
                </a>
                {% if category.children.active %}
                    {% include 'snippets/category_loop.html' %}
                {% endif %}
            </li>
        {% endfor %}
      </ul>
  {% else %}
      <ul class="dropdown-menu">
        {% for category in category.children.active %}
            <li class="list-group-item dropdown clearfix">
                <a href="{{ category.get_absolute_url }}">
                    <i class="fa fa-angle-right"></i>
                    {{ category.title }}
                </a>
                {% if category.children.active %}
                    {% include 'snippets/category_loop.html' %}
                {% endif %}
            </li>
        {% endfor %}
      </ul>
  {% endif %}
{% endif %}
