{% load static %}

<div class="header-navigation">
  <ul>
    <li class="dropdown dropdown-megamenu">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Categories

      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="header-navigation-content">
            <div class="row">
              {% for category in categories %}
                {% if not category.parent %}
                  {% if category.children.count >= 0 %}
                    <div class="col-md-4 header-navigation-col">
                      <h4>{{ category.title }}</h4>
                      <ul>
                        {% for child in category.children.all %}
                          <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}

                    <h4>{{ category.title }}</h4>
                    <ul>
                      {% for child in category.children.all %}
                        <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="dropdown dropdown100 nav-catalogue">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        New

      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="header-navigation-content">
            <div class="row">
              {% for book in new_books %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <a href="{{ book.get_absolute_url }}"><img src="{{ book.cover.url }}" style="width: 300px; height: 300px" class="img-responsive" alt="{{ book.title }}"></a>
                    </div>
                    <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                    {% if book.off %}
                      <div class="pi-price">${{ book.off }}</div>
                    {% else %}
                      <div class="pi-price">${{ book.price }}</div>
                    {% endif %}
                    {% if book in user.cart.books.all %}
                      <a href="{% url 'account_user_cart_detail' %}" class="btn btn-default add2cart">Is in cart</a>
                    {% else %}
                        {% if book.is_available %}
                            <form action="{% url 'account_user_cart_update' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="book_pk" value="{{ book.id }}" class="btn btn-default add2cart">Add to cart</button>
                            </form>
                        {% else %}
                            <button class="btn btn-default add2cart">Unavailable</button>
                        {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
        Pages

      </a>

      <ul class="dropdown-menu">
        <li class="active"><a href="{% url 'home' %}">Home Default</a></li>
        <li><a href="{% url 'search_results' %}">Search Result</a></li>
        <li><a href="{% url 'checkout' %}">Checkout</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>
        <li><a href="{% url 'account' %}">My account</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'terms_conditions' %}">Terms &amp; Conditions</a></li>
      </ul>
      <li><a href="{% url 'book_comparing' %}">Comparison</a></li>
      <li><a href="{% url 'contacts' %}">Contacts</a></li>
      <li><a href="{% url 'faq' %}">Faq</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </li>

    <!-- BEGIN TOP SEARCH -->
    <li class="menu-search">
      <span class="sep"></span>
      <i class="fa fa-search search-btn"></i>
      <div class="search-box">
        <form method="get" action="{% url 'search_results' %}">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control" name="query">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
    </li>
    <!-- END TOP SEARCH -->
  </ul>
</div>