{% load static %}

<div class="col-md-6 two-items-bottom-items">
    <h2>Two items</h2>
    <div class="owl-carousel owl-carousel2">
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/k4.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{% static 'assets/pages/img/products/k4.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="../shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/k2.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{% static 'assets/pages/img/products/k2.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="../shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/k3.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{% static 'assets/pages/img/products/k3.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="../shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/k1.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{% static 'assets/pages/img/products/k1.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="../shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/k4.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{% static 'assets/pages/img/products/k4.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="../shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
      <div>
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/k3.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
            <div>
              <a href="{% static 'assets/pages/img/products/k3.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="../shop-item.html">Berry Lace Dress</a></h3>
          <div class="pi-price">$29.00</div>
          <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
        </div>
      </div>
    </div>
</div>