.bookcover {
    height: 300px;
    width: auto;
    border-radius: 15%;
}

.bookimage {
    height: 100px;
    width: auto;
    border-radius: 15%;
}

.avatar {
    vertical-align: middle;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
