{% extends 'books/admin_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Review Reply{% endblock %}

{% block admin_content %}
    <h1>Reply to review</h1>
    <form method="post" class="reviews-form" role="form">
        {% csrf_token %}
        {{ form.review.as_hidden }}
        {{ form.to.as_hidden }}
        {% if user.is_authenticated %}
          <div class="form-group">
            <label for="reply">Reply <span class="require">*</span></label>
            <textarea class="form-control" rows="8" id="reply" name="reply"></textarea>
          </div>
        {% else %}
        <div class="form-group">
            <label for="name">Name <span class="require">*</span></label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email <span class="require">*</span></label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="reply">Reply <span class="require">*</span></label>
            <textarea class="form-control" rows="8" id="reply" name="reply"></textarea>
        </div>
        {% endif %}
        <div class="padding-top-20">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
{% endblock %}