{% extends 'books/admin_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Review{% endblock %}

{% block admin_content %}
  <h1>Write a Review</h1>
  <form id="review_form" method="post" class="reviews-form" role="form">
      {% csrf_token %}
      <div class="form-group">
        {{ form.book }}
      </div>
      {% if user.is_authenticated %}
        <div class="form-group">
          <label for="review">Review <span class="require">*</span></label>
          <textarea class="form-control" rows="8" id="review" name="review"></textarea>
        </div>
        <div class="form-group">
          <label for="email">Rating</label>
          <input type="range" value="4" step="0.25" id="backing5" name="rating">
          <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
        </div>
      {% else %}
      <div class="form-group">
        <label for="name">Name <span class="require">*</span></label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email <span class="require">*</span></label>
        <input type="text" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="review">Review <span class="require">*</span></label>
        <textarea class="form-control" rows="8" id="review" name="review"></textarea>
      </div>
      <div class="form-group">
        <label for="email">Rating</label>
        <input type="range" value="4" step="0.25" id="backing5" name="rating">
        <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
        </div>
      </div>
      {% endif %}
      <div class="padding-top-20">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
  </form>
{% endblock %}